body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 20px 20px 0 20px;
}
.main_content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}
#sub-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 15px;
}
#chain_info {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 25px;
}
.code {
    font-family: Courier;
    width: 100%;
}
.link {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 0;
    font-family: Helvetica,Arial,sans-serif;
    text-align: left;
    vertical-align: middle;
    -webkit-appearance: none;
    white-space: nowrap;
    width: 100%;
    border-radius: 0;
    border: 1px solid #999999;
    font-weight: 400;
    padding: 5 15px;
    overflow-x: hidden;
    height: 44px;
    min-height: 44px;
    max-height: 44px;
    line-height: 16px;
    -moz-box-sizing: border-box;
    background-color: #FFF;
    color: #0471AF
}
.link-selected {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 0;
    font-family: Helvetica,Arial,sans-serif;
    text-align: left;
    vertical-align: middle;
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #0471AF;
    white-space: nowrap;
    width: 100%;
    font-weight: 400;
    padding: 5px 15px;
    overflow-x: hidden;
    height: 44px;
    min-height: 44px;
    max-height: 44px;
    line-height: 16px;
    -moz-box-sizing: border-box;
    color: #FFF;
    background-color: #0471AF
}
.link-name, .chain-name, .field-name, .area-name {
    font-size: 14px;
    font-weight: 700;
    line-height: 10px;
}
.link-id {
    font-size: 14px;
}
.link-info {
    text-transform: none;
    line-height: 10px;
}
.hide {
    display: none;
}
.field-name {
    line-height: 30px;
}
#chain_code {
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
}
#linkcode {
    grid-column: 1 / 4;
}
.graybox {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: #eee;
    margin: 3px 0;
}
.graybox:before,
.graybox:after {
    content: " ";
    display: table;
}
.main-section {
    height: 6em;
}
.help-line {
    font-style: italic;
}
.help-line a {
    color: #0471AF;
}
.bracelet-icon {
    height: 33px;
}
/*some form elements*/
.form-control:not(textarea) {
    height: 30px;
    line-height: 30px;
}
.form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    color: #000;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    box-sizing: border-box;
    padding: 0 0 0 10px;
}
.form-control-narrow {
    height: 26px;
    line-height: 30px;
    display: inline;
    font-size: 1rem;
    color: #000;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    box-sizing: border-box;
    padding: 0 0 0 10px;
}
.short-line {
    height: 20px;
    line-height: 24px;
}
textarea.code {
    background: #FFFFFF;
    color: #666666;
    white-space: nowrap;
    overflow: auto;
}
textarea.nowrap {
    white-space: nowrap;
}
textarea.form-control {
    padding: 5px;
}
.tree-button {
    margin: 0;
    padding: 0 6px 1px 3px;
    margin-bottom: 1px;
    background: #99CCFF;
    outline: 1px #000;
    border-radius: 0;
    font-weight: 700;
    font-size: 12px;
}
.flat-button {
    height: 30px;
    color: #0471af;
    background: #fff;
    text-transform: uppercase;
}

/*alignment*/
.align-center {
    text-align: center !important;
}
.align-right {
    text-align: right !important;
}
.align-left {
    text-align: left !important;
}
.align-justified {
    text-align: justify !important;
}
.strong, strong, .bold, bold {
    font-weight: 700;
}

/*vertical spacing classes*/
.after-5 {
    margin-bottom: 5px !important;
}
.after-10 {
    margin-bottom: 10px !important;
}
.after-15 {
    margin-bottom: 15px !important;
}
.after-20 {
    margin-bottom: 20px !important;
}
.after-25 {
    margin-bottom: 25px !important;
}
.before-1 {
    margin-top: 1px !important;
}
.before-2 {
    margin-top: 2px !important;
}
.before-3 {
    margin-top: 3px !important;
}
.before-5 {
    margin-top: 5px !important;
}
.before-10 {
    margin-top: 10px !important;
}
.before-15 {
    margin-top: 15px !important;
}
.before-20 {
    margin-top: 20px !important;
}
.before-25 {
    margin-top: 25px !important;
}

/*css-grid columns*/
.col-grid {
    display: grid;
    width: 100%;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    margin-bottom: 10px;
}
.col-1-3 {
    grid-template-columns: 150px 3fr;
}
.col-1-3-1 {
    grid-template-columns: 150px 3fr 100px;
}
.col-1-1-2 {
    grid-template-columns: 150px 1fr 2fr;
}
.col-1-1-1-1 {
    grid-template-columns: 150px 1fr .3fr 1fr;
}
.col-1-1-1-1-2 {
    grid-template-columns: 150px .4fr .2fr .4fr .2fr 1fr;
}
.col-1-2-1 {
    grid-template-columns: 150px 2fr 1fr;
}
.col-3-1 {
    grid-template-columns: 3fr 1fr;
}
.colspan-3 {
    grid-column: 1 / 4;
}
.colspan-5 {
    grid-column: 1 / 6;
}




/*a few icons*/
.icon-img-up-arrow {
    background:url(../up-arrow.png) no-repeat;
    background-size: 24px;
    background-position: center;
    width: 45px;
    height: 30px;
}
.icon-img-up-arrow:hover {
    background:url(../up-arrow2.png) no-repeat;
    background-size: 24px;
    background-position: center;
}

.icon-img-down-arrow {
    background:url(../down-arrow.png) no-repeat;
    background-size: 24px;
    background-position: center;
    width: 45px;
    height: 30px;
}
.icon-img-down-arrow:hover {
    background:url(../down-arrow2.png) no-repeat;
    background-size: 24px;
    background-position: center;
}

.icon-img-plus {
    background:url(../plus.png) no-repeat;
    background-size: 21px;
    background-position: center;
    width: 45px;
    height: 30px;
}
.icon-img-plus:hover {
    background:url(../plus2.png) no-repeat;
    background-size: 21px;
    background-position: center;
}

.icon-img-delete {
    background:url(../delete.png) no-repeat;
    background-size: 21px;
    background-position: center;
    width: 45px;
    height: 30px;
}
.icon-img-delete:hover {
    background:url(../delete2.png) no-repeat;
    background-size: 21px;
    background-position: center;
}


